navbar {
    background-color: #ffff;
    color: white;
    padding: 1em;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .left-nav {
    justify-content: flex-start;
    font-size: 22px;
  }
  
  .center-nav {
    flex-grow: 1;
    text-align:center;
    font-size: 32px;
    margin-left: -5%;    
  }
  
  .right-nav {
    justify-content: flex-end;
    font-size: 22px;
  }
  
  nav ul li {
    margin-right: 1em;
  }
  
  nav ul li a,
  .center-nav a {
    color: #ffc0cb;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover,
  .center-nav a:hover {
    color: #ffc0cb;
  }
  
  .button {
    border: 2px solid #ffc0cb;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ffc0cb;
    color: white;
  }
  