.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  background: #ffc0cb;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 1em;
}

.tab-buttons button:hover {
  background: #ff69b4;
}

.tab-buttons .active {
  background: #ff69b4;
}

.galleryWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.galleryWrap .single {
  flex: 1 1 300px;
  max-width: 300px;
  cursor: pointer;
}

.galleryWrap .single img {
  width: 100%;
  height: auto;
}

.galleryWrap .single img:hover {
  transform: scale(1.02);
}

.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext, .sliderWrap .btnDownload {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #fff;
  z-index: 1001;
  font-size: 2.5em;
}

.btnNext:hover, .btnPrev:hover, .btnClose:hover, .btnDownload:hover {
  opacity: 1;
}

.sliderWrap .btnClose {
  top: 40px;
  right: 40px;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.sliderWrap .btnDownload {
  top: 40px;
  left: 40px;
}

.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loadMore {
  text-align: center;
  margin: 20px;
  padding: 10px 20px;
  background: #ffc0cb;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
